:root {
    background: #ede8d0 ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: Arial, 
    sans-serif; 
    margin: 20px; 
    color: #15100F
}

h1{
    left: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 31px;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input, .incadeia{
    background: #b9c3e9;
    border: 0;
    border-radius: 5px;
}
.incadeia {
    text-align: center;
}

.container { 
    margin-top: 10px;
    display: grid;
    grid-auto-columns: 50%;
    height: 80vh;
    width: 100%;
    border-radius: 35px;
    padding: 10px;
    box-shadow: inset 0px 0px 10px -3px ;
}

 /* grupo de inputs*/
.entradas {
    background: #d2dbfa;
    border-radius: 25px;
    padding: 15px;
    width: 60%;
    height: fit-content;
    box-shadow: 3px 3px #b9c3e9;
    grid-column: 1;
    grid-row: 1;
}

.entrada {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.entrada label{
    width: 30px;
    font-weight: bold;
}
.entrada input{
    color: #080052;
    width: 77%;
}
.entrada button{
    width: 23%
}

/*2° grupo: delta(δ)
    Tabela Delta*/

.tabelaAFN, .tabelaAFD, .thidden{
    border-radius: 25px;
    padding: 15px;
    width: 60%;
    height: fit-content;
    grid-column: 1;
    grid-row: 2;
}
.tabelaAFN {
    background: #d2dbfa;
    box-shadow: 3px 3px #b9c3e9;
}
.tabelaAFD {
    background: #b9c3e9;
    box-shadow: 3px 3px #d2dbfa;
}

.thidden {
    visibility: hidden;
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

caption{
    text-align: center;
    position: relative;
    top: -4px;
    left: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
}
th, td{
    padding: 5px;
    text-align: center;
}
th{
    background-color: #ede8d0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
td{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #b9c3e9;

}
td:hover {
    background-color: #aab3d8;
}

/*3° grupo: exibição*/
.tela{
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: 25px;
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77vh;
}


.canvasAFN, .canvasAFD, .canvasM, .hidden{
    height: 90%;
    width: 100%;
    border-radius: 25px;
}
.canvasAFN{
    background-color: rgb(186, 199, 219);
}
.canvasAFD{
    background-color: rgb(181, 182, 221);
}
.canvasM, .hidden {
    opacity: 0;
}


.button {
    background-color: rgba(0, 140, 255, 0.425);
    border: none;
    color: black;
    padding: 3px 10px;
    border-radius: 7px;
    border: 2px solid #0800523a;
    text-align: center;
    font-weight: 550;
    display: inline;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    transition-duration: 0.5s;
    background-color: #080052;
    color:white;
}